*.pyc
.DS_Store
.vscode
.idea
aliases.bat
testfile.py
settings.json
settings-test.json
venv
.python-version
geckodriver.log
test.py
chromedriver.zip
chromedriver
firefoxdriver.zip
geckodriver
aria2c.zip