<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Settings.json</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body class="container">
  <form class="jumbotron">
    <div class="row">
      <div class="col-lg">
        <div id="credentials">
          <div id="regular-login">
            <h1 class="display-4">Regular login</h1>
            <button class="btn btn-outline-dark float-right"><i class="fas fa-save"></i> Save</button>
            <small class="form-text text-muted" for="">Type in new username and password</small>

            <div class="form-group">
              <label class="form-text text-muted" for="">username</label>
              <input class="form-control" type="text" id="username" />
            </div>
            <div class="form-group">
              <label for="" class="form-text text-muted">password <i id="password-eye-icon" class="fas fa-eye-slash" onclick="toggleEye('password','password-eye-icon')"></i></label>
              <input class="form-control" type="password" id="password" />
            </div>
          </div>
          <label class="form-text text-muted" for="">Important: Choose download method</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary" id="userPass-method">
              <input type="radio" name="download_method" autocomplete="off"> user + pass
            </label>
            <label class="btn btn-secondary" id="cookies-method">
              <input type="radio" autocomplete="off"> cookies.txt
            </label>
          </div>
          <!--Radio butons-->
          <br><br>
          <div id="library-login">
            <h1 class="display-4">Library Card</h1>
            <small class="form-text text-muted" for="">You can download just the exercise file from library login</small>

            <div class="form-group">
              <label class="form-text text-muted" for="">card number</label>
              <input class="form-control" type="text" id="card_number" />
            </div>
            <div class="form-group">
              <label for="" class="form-text text-muted">card pin <i id="pin-eye-icon" class="fas fa-eye-slash" onclick="toggleEye('card_pin','pin-eye-icon')"></i></label>
              <input class="form-control" type="password" id="card_pin" />
            </div>
            <div class="form-group">
              <label for="" class="form-text text-muted">organization url</label>
              <input class="form-control" type="text" id="organization_url" />
            </div>
            <div class="form-group">
              <label for="" class="form-text text-muted">Do you want to use library login to download exercise file?</label>
              <small class="form-text text-muted" for="">Set false if you want to use regular login.</small>
              <br>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary" id="exfile-library-login">
                  <input type="radio" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-secondary btn-primary" id="exfile-regular-login">
                  <input type="radio" autocomplete="off"> No
                </label>
              </div>
              <!--Radio buttons-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div id="preferences">
          <h1 class="display-4">Preferences</h1>
          <small class="form-text text-muted" for="">Set your preferences here.</small>

          <div class="form-group">
            <label class="form-text text-muted" for="">Lynda folder location</label>
            <input class="form-control" type="text" id="lynda_location" />
          </div>
          <div class="form-group">
            <label for="" class="form-text text-muted">Do you want to use markdown links for chapters?</label>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary" id="markdown-links-true">
                <input type="radio" autocomplete="off" checked> Yes
              </label>
              <label class="btn btn-secondary" id="markdown-links-false">
                <input type="radio" autocomplete="off"> No
              </label>
            </div>
            <!--Radio buttons-->
          </div>
          <div class="form-group">
            <label for="" class="form-text text-muted">Download subtitles</label>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary" id="download-subtitles-true">
                <input type="radio" autocomplete="off" checked> Yes
              </label>
              <label class="btn btn-secondary" id="download-subtitles-false">
                <input type="radio" autocomplete="off"> No
              </label>
            </div>
            <!--Radio buttons-->
          </div>
          <div class="form-group">
            <label for="" class="form-text text-muted">Download exercise files</label>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary" id="download-exfile-true">
                <input type="radio" autocomplete="off" checked> Yes
              </label>
              <label class="btn btn-secondary" id="download-exfile-false">
                <input type="radio" autocomplete="off"> No
              </label>
            </div>
            <!--Radio buttons-->
          </div>
          <div class="form-group">
            <label for="" class="form-text text-muted">Web browser for exercise files</label>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary" id="exfile-chrome">
                <input type="radio" autocomplete="off" checked> Chrome
              </label>
              <label class="btn btn-secondary" id="exfile-firefox">
                <input type="radio" autocomplete="off"> Firefox
              </label>
            </div>
            <!--Radio buttons-->

          </div>
          <div class="form-group">
            <label for="" class="form-text text-muted">Download exercise file using:</label>
            <small class="form-text text-muted" for="">Aria2 method is faster and easy on cpu but it needs cookies.txt</small>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary" id="exfile-selenium">
                <input type="radio" autocomplete="off" checked> Selenium
              </label>
              <label class="btn btn-secondary" id="exfile-aria2">
                <input type="radio" autocomplete="off"> Aria2
              </label>
            </div>
            <!--Radio buttons-->

          </div>
          <div class="form-group">
            <label for="" class="form-text text-muted">Redownload course</label>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary" id="redownload-prompt">
                <input type="radio" autocomplete="off" checked> Prompt
              </label>
              <label class="btn btn-secondary" id="redownload-skip">
                <input type="radio" autocomplete="off"> Skip
              </label>
              <label class="btn btn-secondary" id="redownload-force">
                <input type="radio" autocomplete="off"> Force
              </label>
            </div>
            <!--Radio butons-->

          </div>
          <div class="form-group">
            <label for="" class="form-text text-muted">Aria2 installed</label>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary" id="aria2-true">
                <input type="radio" autocomplete="off"> Yes
              </label>
              <label class="btn btn-secondary" id="aria2-false">
                <input type="radio" autocomplete="off" checked> No
              </label>
            </div>
            <!--Radio buttons-->
          </div>
          <div class="form-group">
            <label for="" class="form-text text-muted">Download time</label>
            <input class="form-control" type="text" id="download_time" />
          </div>
        </div>
        <button class="btn btn-outline-dark btn-block"><i class="fas fa-save"></i> Save</button>
      </div>
    </div> <!-- end row -->
  </form>

  <script src="../static/js/settings.js?{{timestamp}}"></script>
</body>

</html>