<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fiddle with settings ...</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <br>
        
        <div class="jumbotron">
            <h1 class="display-4">Settings</h1>
            <br>
            <div class="row">
                <div class="col-sm">
                    <input class="form-control" type="text" placeholder="Enter Username">
                    <br>
                    <input class="form-control" type="text" placeholder="Enter Password">
                </div>
                <div class="col-sm">
                    Download exercise file
                    <div class="btn-group btn-group-toggle" data-togg="buttons">
                        <label class="btn btn-secondary active" for="download-exercise">
                            <input type="radio" name="" id="">Yes
                        </label>
                        <label class="btn btn-secondary" for="">
                            <input type="radio" name="" id="">No
                        </label>
                    </div>
                    <br>
                    Download Subtitles
                    <div class="btn-group btn-group-toggle" data-togg="buttons">
                        <label class="btn btn-secondary active" for="download-exercise">
                            <input type="radio" name="" id="">Yes
                        </label>
                        <label class="btn btn-secondary" for="">
                            <input type="radio" name="" id="">No
                        </label>
                    </div>
                    <br>
                    aria2 installed?
                    <div class="btn-group btn-group-toggle" data-togg="buttons">
                        <label class="btn btn-secondary active" for="download-exercise">
                            <input type="radio" name="" id="">Yes
                        </label>
                        <label class="btn btn-secondary" for="">
                            <input type="radio" name="" id="">No
                        </label>    
                    </div>
                </div>    
                <div class="col-sm">
                    <label for="location">location</label>
                    <input type="text">
                    <br>
                    <label for="web-browser">web-browser</label>
                    <input type="text" placeholder="chrome">
                    <br>
                    <label for="download-time">Download time</label>
                    <input type="text" placeholder="Enter download time">
                </div>
            </div>
            <button class="btn btn-dark" type="button">Save</button>
        </div>
    </div>    
</body>
</html>